@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

// Variables
$light-dark: #1f2937ff;
$darker: #101827ff;
$text: #d1d5db;
$green: #0d9488;


html { box-sizing: border-box; }
body { height: 100vh; width: 100vw;}
*, *::before, *::after { box-sizing: inherit; padding: 0; margin: 0; font-family: 'Noto Sans', sans-serif;}

.content {
    background-color: $darker;
    
  height: 100%;
  width: 100%;
  display: flex;
    .menu {
        
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        background-color: $light-dark;
        width: 500px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        .menuOption{
            background-color: $green;
            border: none;
            width: 150px;
            height: 50px;
            font-weight: 900;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        gap: 40px;

        .gameboards {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;

            .board {
                border-radius: 5px;
                background-color: $light-dark;
                height: 20rem;
                width: 20rem;
                border: 5px solid $green;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                
                .cell {
                    outline: 1px solid $darker;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $light-dark;
                    &:hover {
                        cursor: pointer;
                        color: $text;
                    }
                }
            }

        }
    }

}

.blur {
    filter: blur(2px);
}

.white{
    color: white;
}

.green { color: $green; }

.bold {
    font-weight: 600;
}

.text {
    color: $text;
}

h2 {
    font-size: 1.5rem;
}